include ../components/social
include ../mixins/svg
include ../mixins/logo
include ../mixins/check
include ../mixins/cat
include ../mixins/subcat
include ../mixins/news
include ../mixins/news-simple
include ../mixins/fancybox
include ../mixins/slider-single
include ../components/bread
include ../components/toggle

.container
	.row.main__separator
		.col-12
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id placeat unde? Ab aliquid amet asperiores at autem commodi cum dolor dolorum ducimus earum et facilis hic in incidunt inventore
				|
				|
				a(href='#') laboriosam molestiae officia
				|
				|
				| optio perferendis perspiciatis placeat possimus praesentium quaerat quibusdam quo recusandae reiciendis, rem repellat saepe sed sint voluptatum.

	.row.main__separator
		.col-4
			.title .title
		.col-4
			.title.title_size_lg .title.title_size_lg
		.col-4
			.title.title_size_sm .title.title_size_sm
		.col-4
			.title.title_weight_normal .title.title_weight_normal

	.row.main__separator
		.col-2.mb-15
			a.link(href='#') .link
		.col-3.mb-15
			a.link.link_icon_before(href='#')
				| .link.link_icon_before
				+svg('dialog', 'link__icon')
		.col-2.mb-15
			a.link.link_nowrap(href='#') .link.link_nowrap
		.col-2.mb-15.main__black
			a.link.link_color_white(href='#') .link.link_color_white

	.row.main__separator
		.col-2.mb-15
			.btn .btn
		.col-2.mb-15
			a.btn(href='#') a.btn
		.col-2.mb-15
			input.btn(type='button' value='input.btn')
		.col-2.mb-15
			button.btn button.btn
		.col-3.mb-15
			.btn.btn_wide .btn.btn_wide
		.col-3.mb-15
			.btn.btn_color_gray .btn.btn_color_gray

	.row.main__separator
		.col-3.mb-30
			input.input(type='text' placeholder='.input')
		.col-3.mb-30
			input.input.input_tel(type='tel' placeholder='.input.input_tel')
		.col-3.mb-30
			input.input.input_number(type='text' placeholder='.input.input_number')
		.col-3.mb-30
			textarea.input(placeholder='textarea.input')

	.row.main__separator
		.col-12
			+social(social)

	.row.main__separator
		.col-3
			+logo()
		.col-3
			+logo({
				link: false
			})

	.row.main__separator
		.col-2
			+check({
				id: 'check-1',
				text: '.check'
			})
		.col-3
			+check({
				id: 'check-2',
				text: '.check.check_reverse'
			})(class='check_reverse')
		.col-3
			+check({
				id: 'check-3',
				text: '.check.check_text_sm'
			})(class='check_text_sm')

	.row.main__separator
		.col-4
			+cat({
				title: 'Подбор пищевого оборудования',
				link: '#',
				img: 'img/content/cat.jpg',
				desc: 'Подбор оборудования по типу: вертикальные и горизонтальные фасовочно-упаковочные аппараты, дозаторы, линии розлива, отсадочные машины, комплексы образования групповой упаковки и дополнительное оборудование.'
			})

	.row.main__separator
		.col-3
			+subcat({
				title: 'Подбор пищевого оборудования',
				link: '#',
				img: 'img/content/subcat.png',
				params: [
					'Производительность до: 80 упак/мин',
					'Особенность: бюджетная производительная модель.'
				],
				check: {
					text: 'Сравнение',
					id: 'check-subcat-1'
				}
			})

	.row.main__separator
		.col-9
			+news({
				date: '07.02.2019',
				title: 'В «таурас-феникс» прошло совещание по открытию совместных отраслевых кафедр с отечественными промышленными предприятиями',
				link: '#',
				img: 'img/content/news.jpg'
			})

	.row.main__separator
		.col-9
			+news-simple({
				date: '07.02.2019',
				title: 'В «таурас-феникс» прошло совещание по открытию совместных отраслевых кафедр с отечественными промышленными предприятиями',
				link: '#'
			})

	.row.main__separator
		.col-9
			.block .block

	.row.main__separator
		.col-3
			+fancybox({
				link: 'img/content/slider.jpg',
				image: 'img/content/slider.jpg',
				title: 'Img 1',
				group: 'group-1'
			})
		.col-3
			+fancybox({
				link: 'https://www.youtube.com/embed/6uuwDlRKpj4?modestbranding=1&rel=0',
				image: 'img/content/slider.jpg',
				title: 'Video 1',
				group: 'group-2'
			})(class='fancybox_video')

	.row.main__separator
		.col-12
			+slider-single([
				{link: '#', img: 'img/content/slider-single.jpg'},
				{link: '#', img: 'img/content/slider-single.jpg'},
				{link: '#', img: 'img/content/slider-single.jpg'}
			])

	.row.main__separator
		.col-12
			.slider(
				data-cols='1'
				data-sm-cols='2'
				data-md-cols='3'
				data-lg-cols='4'
				data-xl-cols='5'
			)
				.slider__body

					- for (var i = 0; i < 6; i++) {
						.slider__item
							+fancybox({
								link: 'img/content/slider.jpg',
								image: 'img/content/slider.jpg',
								title: 'Img ' + (i + 1),
								group: 'group-slider-1'
							})
					- }

	.row.main__separator
		.col-12
			+bread

	.row.main__separator
		.col-12
			+toggle